<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area, .areaLater {
  fill: steelblue;
}

.scopeLine, .scopeLineLater {
  fill: none;
  stroke: forestgreen;
  stroke-width: 2.5px;
}

.scopeContinuation {
  fill: none;
  stroke: forestgreen;
  stroke-width: 2.5px;
  stroke-dasharray: 5, 5;
  stroke-opacity: 0.4;
}

.trend {
  fill: none;
  stroke: darkred;
  stroke-dasharray: 5, 5;
  stroke-width: 2.5px;
}

.hover-line {
  stroke: black;
  fill: none;
  stroke-width: 2px;
}

</style>
<body>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script>

var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var parseDate = d3.time.format("%d/%m/%Y").parse;

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var area = d3.svg.area()
    .x(function(d) { return x(d.Date); })
    .y0(height)
    .y1(function(d) { return y(d.Production); });

var scopeLine = d3.svg.line()
    .x(function(d) { return x(d.Date); })
    .y(function(d) { return y(d.Scope); });

var trend = d3.svg.line()
    .x(function(d) { return x(d.Date); })
    .y(function(d) { return y(d.Value); });


var scopeChangeContinuations

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.json("http://localhost:3000/cfd", function(error, data) {
  if (error) throw error;

  var endDate;
  var endValue;
  var projDate;
  var projScope;
  var maxScope = 0;
  data.forEach(function(d) {
    if (projScope > maxScope) {
      maxScope = projScope;
    }
    // needs re-naming throughout, just quick and hacky for now
    d.Date = parseDate(d.Date);
    d.Production = +d.Production;
    d.Scope = +d.Scope;
    d.Projection = +d.Projection;

    endDate = d.Date;
    endValue = d.Production;
    projDate = new Date(endDate)
    projDate.setDate(projDate.getDate() + d.Projection);
    projScope = d.Scope;
  });

  // Hover line.
  var hoverLineGroup = svg.append("g")
    .attr("class", "hover-line");

  var hoverLine = hoverLineGroup
  	.append("line")
  	.attr("x1", 0).attr("x2", 0)
  	.attr("y1", 500).attr("y2", 0);
  // Hide hover line by default.
  hoverLine.style("opacity", 1e-6);

  x.domain(d3.extent(data, function(d) { return d.Date; }));
  y.domain([0, d3.max(data, function(d) { return d.Scope; })]);

  svg.append("path")
      .attr("class", "area")
      .attr("d", area(data));

  svg.append("path")
      .attr("class", "areaLater");

  svg.append("path")
      .attr("class", "scopeLine")
      .attr("d", scopeLine(data));

      svg.append("path")
          .attr("class", "scopeLineLater");

  var trendData = [{ Date: endDate, Value: endValue }, { Date: projDate, Value: projScope }];
  svg.append("path")
      .attr("class", "trend")
      .attr("d", trend(trendData));

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Cards");

        d3.select("svg").on('mousemove', function () {
            var xPos = d3.mouse(this)[0];
            var xDate = x.invert(xPos - margin.left);
            var oDate= new Date(xDate);

            var sdate = oDate.getDate() + '/' + (oDate.getMonth() + 1)  + '/' + oDate.getFullYear();

if(xPos > margin.left){
update(data, sdate);

            hoverLine
                .attr("x1", xPos - margin.left)
                .attr("y1", 0)
                .attr("x2", xPos - margin.left)
                .attr("y2", 500)
                .style("opacity", 1);
} else {hoverLine.style("opacity", 1e-6);}


    }).on("mouseout", function() {

            hoverLine.style("opacity", 1e-6);
        });
;

});

function update(data, selectedDate)
{
//  console.log(selectedDate);
  var parsed = parseDate(selectedDate);

  var filtered = data.filter(function (d){ return d.Date <= parsed });
  /*var lastInFilter = filtered.sort(function(a,b){

  })*/

  var later = data.filter(function (d){ return d.Date >= d3.max(filtered, function(d) { return d.Date; })});

  svg.select(".area")
      .attr("d", area(filtered));
  svg.select(".areaLater")
          .attr("d", area(later))
          .style("fill-opacity", 0.4);

  svg.select(".scopeLine")
      .attr("d", scopeLine(filtered));

  svg.select(".scopeLineLater")
          .attr("d", scopeLine(later))
          .style("stroke-opacity", 0.4);


  var endDate;
  var endValue;
  var projDate;
  var projScope;
  filtered.forEach(function(d) {
    endDate = d.Date;
    endValue = d.Production;
    projDate = new Date(endDate)
    projDate.setDate(projDate.getDate() + d.Projection);
    projScope = d.Scope;
  });

  var trendData = [{ Date: endDate, Value: endValue }, { Date: projDate, Value: projScope }];
if(projDate > endDate){
  svg.select(".trend")
      .attr("d", trend(trendData)).style("stroke-opacity", 1);} else {svg.select(".trend").style("stroke-opacity", 0)}
}

</script>
